In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [3]:
df

# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,4,Australia,India,0.1,0,0,Rajkot,Saurashtra Cricket Association Stadium
1,4,Australia,India,0.2,0,0,Rajkot,Saurashtra Cricket Association Stadium
2,4,Australia,India,0.3,4,0,Rajkot,Saurashtra Cricket Association Stadium
3,4,Australia,India,0.4,1,0,Rajkot,Saurashtra Cricket Association Stadium
4,4,Australia,India,0.5,0,0,Rajkot,Saurashtra Cricket Association Stadium
...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore,Gaddafi Stadium
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore,Gaddafi Stadium
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore,Gaddafi Stadium
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore,Gaddafi Stadium
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore,Gaddafi Stadium

In [4]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8671
venue                  0
dtype: int64

In [5]:
df[df['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [6]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [7]:
df['city'] = cities

In [8]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [9]:
df.drop(columns=['venue'],inplace=True)

In [10]:
df

     match_id batting_team bowling_team  ball  runs player_dismissed    city
0           4    Australia        India   0.1     0                0  Rajkot
1           4    Australia        India   0.2     0                0  Rajkot
2           4    Australia        India   0.3     4                0  Rajkot
3           4    Australia        India   0.4     1                0  Rajkot
4           4    Australia        India   0.5     0                0  Rajkot
..        ...          ...          ...   ...   ...              ...     ...
123       964    Sri Lanka     Pakistan  19.2     0                0  Lahore
124       964    Sri Lanka     Pakistan  19.3     1                0  Lahore
125       964    Sri Lanka     Pakistan  19.4     1                0  Lahore
126       964    Sri Lanka     Pakistan  19.5     1                0  Lahore
127       964    Sri Lanka     Pakistan  19.6     0     PWH de Silva  Lahore

[64241 rows x 7 columns]

In [11]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [12]:
df = df[df['city'].isin(eligible_cities)]

In [13]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,7,South Africa,India,0.1,3,0,Johannesburg
1,7,South Africa,India,0.2,0,0,Johannesburg
2,7,South Africa,India,0.3,1,0,Johannesburg
3,7,South Africa,India,0.4,1,0,Johannesburg
4,7,South Africa,India,0.5,4,0,Johannesburg
...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore

In [14]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

/tmp/ipykernel_16616/1598928411.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['current_score'] = df.groupby('match_id').cumsum()['runs']
/tmp/ipykernel_16616/1598928411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [15]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,7,South Africa,India,0.1,3,0,Johannesburg,3
1,7,South Africa,India,0.2,0,0,Johannesburg,3
2,7,South Africa,India,0.3,1,0,Johannesburg,4
3,7,South Africa,India,0.4,1,0,Johannesburg,5
4,7,South Africa,India,0.5,4,0,Johannesburg,9
...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore,144
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore,145
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore,146
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore,147
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore,147

In [16]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

/tmp/ipykernel_16616/2777558413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
/tmp/ipykernel_16616/2777558413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,7,South Africa,India,0.1,3,0,Johannesburg,3,0,1
1,7,South Africa,India,0.2,0,0,Johannesburg,3,0,2
2,7,South Africa,India,0.3,1,0,Johannesburg,4,0,3
3,7,South Africa,India,0.4,1,0,Johannesburg,5,0,4
4,7,South Africa,India,0.5,4,0,Johannesburg,9,0,5
...,...,...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore,144,19,2
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore,145,19,3
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore,146,19,4
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore,147,19,5
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore,147,19,6

In [17]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

/tmp/ipykernel_16616/562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,7,South Africa,India,0.1,3,0,Johannesburg,3,0,1,1
1,7,South Africa,India,0.2,0,0,Johannesburg,3,0,2,2
2,7,South Africa,India,0.3,1,0,Johannesburg,4,0,3,3
3,7,South Africa,India,0.4,1,0,Johannesburg,5,0,4,4
4,7,South Africa,India,0.5,4,0,Johannesburg,9,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore,144,19,2,116
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore,145,19,3,117
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore,146,19,4,118
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore,147,19,5,119
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore,147,19,6,120

In [18]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

/tmp/ipykernel_16616/2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
/tmp/ipykernel_16616/2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,7,South Africa,India,0.1,3,0,Johannesburg,3,0,1,1,119
1,7,South Africa,India,0.2,0,0,Johannesburg,3,0,2,2,118
2,7,South Africa,India,0.3,1,0,Johannesburg,4,0,3,3,117
3,7,South Africa,India,0.4,1,0,Johannesburg,5,0,4,4,116
4,7,South Africa,India,0.5,4,0,Johannesburg,9,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,0,Lahore,144,19,2,116,4
124,964,Sri Lanka,Pakistan,19.3,1,0,Lahore,145,19,3,117,3
125,964,Sri Lanka,Pakistan,19.4,1,0,Lahore,146,19,4,118,2
126,964,Sri Lanka,Pakistan,19.5,1,0,Lahore,147,19,5,119,1
127,964,Sri Lanka,Pakistan,19.6,0,PWH de Silva,Lahore,147,19,6,120,0

In [19]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

/tmp/ipykernel_16616/540685528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
/tmp/ipykernel_16616/540685528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
/tmp/ipykernel_16616/540685528.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
/tmp/ipykernel_16616/540685528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
/tmp/ipykernel_16616/540685528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [20]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,7,South Africa,India,0.1,3,0,Johannesburg,3,0,1,1,119,10
1,7,South Africa,India,0.2,0,0,Johannesburg,3,0,2,2,118,10
2,7,South Africa,India,0.3,1,0,Johannesburg,4,0,3,3,117,10
3,7,South Africa,India,0.4,1,0,Johannesburg,5,0,4,4,116,10
4,7,South Africa,India,0.5,4,0,Johannesburg,9,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,6,Lahore,144,19,2,116,4,4
124,964,Sri Lanka,Pakistan,19.3,1,6,Lahore,145,19,3,117,3,4
125,964,Sri Lanka,Pakistan,19.4,1,6,Lahore,146,19,4,118,2,4
126,964,Sri Lanka,Pakistan,19.5,1,6,Lahore,147,19,5,119,1,4
127,964,Sri Lanka,Pakistan,19.6,0,7,Lahore,147,19,6,120,0,3

In [21]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

/tmp/ipykernel_16616/914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [22]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,7,South Africa,India,0.1,3,0,Johannesburg,3,0,1,1,119,10,18.000000
1,7,South Africa,India,0.2,0,0,Johannesburg,3,0,2,2,118,10,9.000000
2,7,South Africa,India,0.3,1,0,Johannesburg,4,0,3,3,117,10,8.000000
3,7,South Africa,India,0.4,1,0,Johannesburg,5,0,4,4,116,10,7.500000
4,7,South Africa,India,0.5,4,0,Johannesburg,9,0,5,5,115,10,10.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,964,Sri Lanka,Pakistan,19.2,0,6,Lahore,144,19,2,116,4,4,7.448276
124,964,Sri Lanka,Pakistan,19.3,1,6,Lahore,145,19,3,117,3,4,7.435897
125,964,Sri Lanka,Pakistan,19.4,1,6,Lahore,146,19,4,118,2,4,7.423729
126,964,Sri Lanka,Pakistan,19.5,1,6,Lahore,147,19,5,119,1,4,7.411765
127,964,Sri Lanka,Pakistan,19.6,0,7,Lahore,147,19,6,120,0,3,7.350000

In [23]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

/tmp/ipykernel_16616/3055083752.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [24]:
df['last_five'] = last_five

/tmp/ipykernel_16616/1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [25]:
#df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','']]

In [26]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

/tmp/ipykernel_16616/3687880561.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [27]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [28]:
final_df.dropna(inplace=True)

In [29]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [30]:
final_df = final_df.sample(final_df.shape[0])

In [31]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
18568,Australia,England,Southampton,141,4,4,7.293103,47.0,157
24830,Pakistan,India,Mirpur,67,35,3,4.729412,22.0,83

In [32]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [33]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
26517,Pakistan,New Zealand,Dubai,104,41,6,7.898734,46.0
12424,New Zealand,Australia,Auckland,226,4,4,11.689655,42.0
35636,New Zealand,Sri Lanka,Mount Maunganui,121,32,9,8.250000,26.0
20631,India,West Indies,Mumbai,123,57,10,11.714286,51.0
28039,England,South Africa,Cardiff,180,1,2,9.075630,42.0
...,...,...,...,...,...,...,...,...
15328,South Africa,Pakistan,Dubai,44,84,9,7.333333,38.0
13220,Pakistan,West Indies,Trinidad,53,75,8,7.066667,35.0
11371,Australia,India,Sydney,73,70,8,8.760000,43.0
3566,South Africa,India,Johannesburg,45,71,6,5.510204,26.0
32296,New Zealand,Australia,Auckland,73,73,7,9.319149,36.0

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error
from math import sqrt

In [35]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [36]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [ ]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
y_pred
print(r2_score(y_test,y_pred)) 
print(mean_absolute_error(y_test,y_pred))
print(sqrt(mean_absolute_error(y_test,y_pred)))

In [ ]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [ ]:
import sklearn
print(sklearn.__version__)